<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">About this Site</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn color="blue" @click.native="siteDetails = !siteDetails">Details</v-btn>
          </v-card-actions>
          <v-slide-y-transition>
            <v-card-text v-show="siteDetails">
              <h3>This site is under construction, heavily.</h3>
              <p>CannExchange is the spot for buyers, sellers, and brokers to connect in the cannabis industry. There is also a store for general consumers.</p>
            </v-card-text>
          </v-slide-y-transition>
        </v-card>
        <br>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">About Mrs. Green's Remedies</div>
              <div class="grey--text">The company behind Cannex</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn color="blue" target="_blank" href="http://www.linkedin.com/company/mrs.-green's-remedies/">LinkedIn</v-btn>
            <v-btn color="green" target="_blank" href="http://mrsgreensremedies.com">Website</v-btn>
            <v-btn color="blue" target="_blank" href="http://facebook.com/">Facebook</v-btn>
            <v-btn color="cyan" to="/about/blog">Blog</v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    MGRDetails: false,
    siteDetails: false
  })
}
</script>
