<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Blog</div>
            </div>
          </v-card-title>
        </v-card>
        <br>
        <v-container fluid grid-list-md>
          <v-layout fill-height>
            <v-flex v-for="(post, idx) in posts" :key="idx">
              <v-card>
              <v-card-title primary-title v-text="post.title"></v-card-title>
              <v-card-text v-text="post.body"></v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <br>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">New Post</div>
            </div>
          </v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="title"
                label="title"
                required
              ></v-text-field>
              <v-text-field
                v-model="body"
                label="body"
                required
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="green" @click="addPost(title, body)">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import 'firebase/firestore'
import { db } from '../database'

export default {
  data () {
    return {
      posts: [],
      title: '',
      body: ''
    }
  },
  firestore () {
    return {
      posts: db.collection('posts')
    }
  },
  methods: {
    addPost (title, body) {
      const createdAt = new Date()
      this.$firestore.posts.add({ title, body, createdAt })
      this.title = ''
      this.body = ''
    }
  }
}
</script>
