<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Classifieds</div>
              <div class="grey--text">Buyers, Brokers, and Sellers</div>
            </div>
          </v-card-title>
        </v-card>
        <v-container>
          <v-layout justify-space-around>
            <v-btn color="blue" to="/classifieds/wanted">Wanted</v-btn>
            <v-btn color="green" to="/classifieds/available">Available</v-btn>
            <v-btn color="yellow" to="/classifieds/verify">Verify</v-btn>
          </v-layout>
        </v-container>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>
