<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">The Endocannabinoid System</div>
              <div class="grey--text">A network of receptors throughout the human body that regulate numerous functions in both the
                <strong>immune</strong> system and <strong>neurological</strong> system.
              </div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn color="blue" @click.native="ecsInfo = !ecsInfo">Information</v-btn>
          </v-card-actions>
          <v-slide-y-transition>
          </v-slide-y-transition>
          <v-slide-y-transition>
            <div class="infoText">
              <v-card-text v-show="ecsInfo">
                <p>
                  ECS Deficiency can alter your body's ability to regulate
                    many functions of the functions found below.
                </p>
                <img src="/img/education/ecsbody.png"/>
              </v-card-text>
            </div>
          </v-slide-y-transition>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  data: () => {
    return {
      ecsImage: false,
      ecsInfo: false
    }
  }
}
</script>
