<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">CannExchange</h3>
              <div>
                Cannabis Exchange and News Resource
              </div>
            </div>
          </v-card-title>
          <v-card-text>
            CannExchange (cannex) is the premiere site dedicated to the communication
              and deals between sourcers, brokers, and buyers in the cannabis and hemp
              markets.
          </v-card-text>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
