<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Login</div>
              <div class="grey--text">Currently, you must sign in with your email.</div>
            </div>
          </v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field label="Email" type="email" v-model="email"></v-text-field>
              <v-text-field label="Password" type="password" v-model="password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn
              :loading="loading3"
              :disabled="loading3"
              @click.native="loader = 'loading3'"
              color="green"
              v-on:click="login"
            >
              <v-icon left dark>lock</v-icon>
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
        <p>If you do not have an account you can create one <router-link to="/register">here</router-link>.</p>
        <br>
        <v-btn @click.native="logout" color="red">Logout</v-btn>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  data: function () {
    return {
      // Loader
      loader: null,
      loading: false,
      loading2: false,
      loading3: false,
      loading4: false,
      email: '',
      password: ''
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    }
  },
  methods: {
    login: function () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          alert('You are now connected.')
          this.$router.replace('/home')
        },
        function (err) {
          alert('Oops. ' + err.message)
        }
      )
    },
    logout: function () {
      if (firebase.auth().currentUser != null) {
        firebase.auth().signOut().then(() => {
          this.$router.replace('welcome')
        })
      } else {
        alert('You are not signed in.')
      }
    }
  }
}
</script>

<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
