<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Register</div>
              <div class="grey--text">Currently, you must sign up with your email and a password.</div>
            </div>
          </v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field label="Email" type="text" v-model="email"></v-text-field>
              <v-text-field label="Password" type="password" v-model="password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn
              :loading="loading3"
              :disabled="loading3"
              @click.native="loader = 'loading3'"
              v-on:click="signup"
              color="green"
            >
              <v-icon left dark>lock</v-icon>
              Register
            </v-btn>
          </v-card-actions>
        </v-card>
        <p>Already have an account? Please return to the <router-link to="/login">login</router-link> page.</p>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  data: () => {
    return {
      // Loader
      loader: null,
      loading: false,
      loading2: false,
      loading3: false,
      loading4: false,
      // Form
      email: '',
      password: ''
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]

      setTimeout(() => (this[l] = false), 3000)

      this.loader = null
    }
  },
  methods: {
    signup: function () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
        function (user) {
          alert('Account created')
        },
        function (err) {
          alert('Oops. ' + err.message)
        }
      )
    }
  }
}
</script>

<style>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
