<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-container fluid grid-list-md>
          <v-layout fill-height justify-space-around>
            <v-flex v-for="(product, idx) in products" :key="idx">
              <v-card>
                <v-card-media>
                  <div class="product-image">
                    <img width="200px" :src="product.productImage">
                  </div>
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <div v-text="product.title" class="headline"></div>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn color="green">View</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <br>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Add product</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn icon @click.native="showAddForm = !showAddForm">
              <v-icon>{{ showAddForm ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-slide-y-transition>
            <v-card-text v-show="showAddForm">
              <v-form>
                <v-text-field
                  v-model="title"
                  label="title"
                ></v-text-field>
                <v-text-field
                  v-model="price"
                  label="price"
                ></v-text-field>
                <v-text-field
                  v-model="description"
                  label="description"
                ></v-text-field>
                <v-text-field
                  v-model="type"
                  label="type"
                ></v-text-field>
                <v-text-field
                  v-model="productImage"
                  type="url"
                  label="Image URL"
                ></v-text-field>
              </v-form>
            </v-card-text>
          </v-slide-y-transition>
          <v-card-actions v-show="showAddForm">
            <v-btn color="green" @click="addProduct(title, price, description, type, productImage)">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import { db, auth } from '../database'

export default {
  data: () => {
    return {
      showAddForm: false,
      products: [],
      productImage: '',
      title: '',
      price: '',
      type: '',
      description: '',
      postedBy: ''
    }
  },
  firestore () {
    return {
      products: db.collection('products')
    }
  },
  methods: {
    addProduct (title, price, description, type, productImage) {
      let postedBy = auth.currentUser.uid
      this.$firestore.products.add({ title, price, description, type, productImage })
      this.title = ''
      this.price = ''
      this.type = ''
      this.description = ''
      this.productImage = ''
      this.postedBy = postedBy
    }
  }
}
</script>
