<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Welcome to CannExchange</div>
              <div class="grey--text">We currently require all users to be signed in to access the app.</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn color="green" to="/login">
              <v-icon left dark>lock</v-icon>
              Login
            </v-btn>
            <v-btn color="primary" to="/register">
              <v-icon left dark>lock</v-icon>
              Register
            </v-btn>
            <v-btn color="green" to="/about">
              <v-icon left dark>lock</v-icon>
              About
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>
