<template>
  <v-app>
    <v-navigation-drawer
      persistent
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-list>
        <v-list-tile
          value="true"
          v-for="(item, i) in items"
          :key="i"
          :to="item.path"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="red" @click.native="logout">Logout</v-btn>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 421Hemp/Mrs.Green&apos;s Remedies 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
import firebase from 'firebase/app'

export default {
  name: 'App',
  data () {
    return {
      drawer: false,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Home',
        path: '/'
      }, {
        icon: 'bubble_chart',
        title: 'Education',
        path: '/education'
      }, {
        icon: 'bubble_chart',
        title: 'Classifieds',
        path: '/Classifieds'
      }, {
        icon: 'bubble_chart',
        title: 'News',
        path: '/news'
      }, {
        icon: 'bubble_chart',
        title: 'About',
        path: '/about'
      }, {
        icon: 'bubble_chart',
        title: 'Shop',
        path: '/shop'
      }],
      right: true,
      rightDrawer: false,
      title: 'CannExchange'
    }
  },
  methods: {
    logout: function () {
      if (firebase.auth().currentUser != null) {
        firebase.auth().signOut().then(() => {
          alert('You have been signed out.')
          this.$router.replace('welcome')
        })
      } else {
        alert('You are not signed in.')
      }
    }
  }
}
</script>
