<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Avaiable Contracts</div>
            </div>
          </v-card-title>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>
