<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Verify Identity</div>
              <div class="grey--text">Upload letter of intent and verification of funds</div>
            </div>
          </v-card-title>
        </v-card>
        <br>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Upload Documents</div>
            </div>
          </v-card-title>
          <v-card-text>
            <h3>Verification of Funds</h3>
            <div>
              <input type="file" value="upload" @change="fileBtn(file, $event)">
              <progress value="0" max="100" id="uploader"></progress>
            </div>
          </v-card-text>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import { storage } from '../../database'
import 'firebase/storage'

export default {
  data () {
    return {
      file: File
    }
  },
  methods: {
    fileBtn: function (file, e) {
      e.preventDefault()
      const uploader = document.getElementById('uploader')
      // GET file
      let getFile = e.target.files[0]
      // Storage Reference
      let storageRef = storage.ref('verification-of-funds/' + getFile.name)

      // Upload file
      let task = storageRef.put(getFile)
      task.on('state_changed',
        function progress (snapshot) {
          let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100
          uploader.value = percentage
        },
        function error (err) {
          console.log(err)
        },
        function complete () {
          console.log('Upload completed.')
        })
    }
  }
}
</script>
