<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Wanted Contracts</div>
            </div>
          </v-card-title>
        </v-card>
        <br>
        <v-container fluid grid-list-md>
          <v-layout fill-height>
            <v-flex v-for="(classified, idx) in classifieds" :key="idx">
              <v-card>
                <v-card-title primary-title>
                  <div>
                    <div class="headline"> {{ classified.title }} </div>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn @click.native="showClassifideDetails = !showClassifideDetails">Details</v-btn>
                </v-card-actions>
                <v-slide-y-transition>
                  <v-card-text v-show="showClassifideDetails">
                    <h3>{{ classified.title }}</h3>
                    <p>
                      <strong>Requested Delivery Date:</strong>
                      {{ classified.requestedDeliveryDate }}
                    </p>
                    <p>
                      <strong>Product Type:</strong>
                      {{ classified.productRequested}}
                    </p>
                    <p>
                      <strong>Volume Requested:</strong>
                      {{ classified.volumeRequested }}
                    </p>
                    <p>
                      <strong>Biomass Weight:</strong> {{ classified.biomassWeight }}
                    </p>
                    <p>
                      <strong>CBD Concentration Desired:</strong>
                      {{ classified.desiredCbdConcentration }}%
                    </p>
                    <p>
                      <strong>Plant CBD Concentration:</strong>
                      {{ classified.plantCbdConcentration }}%
                    </p>
                    <p>
                      <strong>Recurring?:</strong>
                      {{ classified.recurring }}
                    </p>
                    <p>
                      <strong>How Often?: </strong>
                      {{ classified.recurringFreq }}
                    </p>
                    <p>
                      <strong>Shipping Address Type:</strong>
                      {{ classified.shippingAddressType }}
                    </p>
                    <p>
                      <strong>Sourcing Legal Requirements:</strong>
                      {{ classified.sourcingRequirements }}
                    </p>
                    <p>
                      <strong>Carrier Oil:</strong>
                      {{ classified.carrierOil }}
                    </p>
                  </v-card-text>
                </v-slide-y-transition>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <br>
        <v-card>
          <v-card-title primary-title>
            <div>
              <div class="headline">Add New</div>
            </div>
          </v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field
                label="title"
                v-model="title"
                required
              ></v-text-field>
              Product Requested:
              <v-radio-group v-model="productRequested">
                <v-radio label="Water Soluble" value="Water Soluble"></v-radio>
                <v-radio label="Oil Soluble" value="Oil Soluble"></v-radio>
                <v-radio label="Full Spectrum (0.03%)" value="Full Spectrum (0.03%)"></v-radio>
                <v-radio label="CBD Isolate (99%+)" value="CBD Isolate (99%+)"></v-radio>
              </v-radio-group>
              <v-text-field
                label="volume requested"
                v-model="volumeRequested"
              ></v-text-field>
              <v-text-field
                label="requested delivery date"
                v-model="requestedDeliveryDate"
                disabled
              ></v-text-field>
              Biomass Type
              <v-select
                :items="biomassTypesAllowed"
                v-model="biomassType"
              ></v-select>
              <v-text-field
                label="biomass weight"
                v-model="biomassWeight"
              ></v-text-field>
              <v-text-field
                label="CBD concentration (%)"
                v-model="desiredCbdConcentration"
              ></v-text-field>
              <v-text-field
                label="plant CBD concentration (%)"
                v-model="plantCbdConcentration"
              ></v-text-field>
              <strong>Recurring?:</strong>
              <v-radio-group v-model="recurring">
                <v-radio label="Yes" value="true"></v-radio>
                <v-radio label="No" value="false"></v-radio>
              </v-radio-group>
              <v-text-field
                label="how often?"
                v-model="recurringFreq"
              ></v-text-field>
              <strong>Shipping Address Type:</strong>
              <v-radio-group v-model="shippingAddressType">
                <v-radio label="Domestic" value="Domestic"></v-radio>
                <v-radio label="International" value="International"></v-radio>
              </v-radio-group>
              <strong>Sourcing Legal Requirements:</strong>
              <v-radio-group v-model="sourcingRequirements">
                <v-radio label="American" value="American"></v-radio>
                <v-radio label="European" value="European"></v-radio>
                <v-radio label="Asian" value="Asian"></v-radio>
                <v-radio label="Any/All" value="Any/All"></v-radio>
              </v-radio-group>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="green" @click="addClassifide(biomassWeight, title, volumeRequested, specialShippingComments, sourcingRequirements, shippingAddressType, requestedDeliveryDate, recurringFreq, recurring, productRequested, plantCbdConcentration, desiredCbdConcentration, carrierOil, clientProvides)">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import { db } from '../../database'

export default {
  data () {
    return {
      showClassifideDetails: false,
      biomassTypesAllowed: [
        'fiber',
        'flower',
        'pellet',
        'stalk',
        'CBD',
        'Non-CBD'
      ],
      classifieds: [],
      biomassWeight: '',
      biomassType: '',
      title: '',
      volumeRequested: '',
      specialShippingComments: '',
      sourcingRequirements: '',
      shippingAddressType: '',
      requestedDeliveryDate: '',
      recurringFreq: '',
      recurring: null,
      productRequested: '',
      plantCbdConcentration: '',
      desiredCbdConcentration: '',
      carrierOil: '',
      clientProvides: []
    }
  },
  firestore () {
    return {
      classifieds: db.collection('classifides')
    }
  },
  methods: {
    addClassifide (biomassType, biomassWeight, title, volumeRequested, specialShippingComments, sourcingRequirements, shippingAddressType, requestedDeliveryDate, recurringFreq, recurring, productRequested, plantCbdConcentration, desiredCbdConcentration, carrierOil, clientProvides) {
      this.$firestore.classifieds.add({ biomassType, biomassWeight, title, volumeRequested, specialShippingComments, sourcingRequirements, shippingAddressType, requestedDeliveryDate, recurringFreq, recurring, productRequested, plantCbdConcentration, desiredCbdConcentration, carrierOil, clientProvides })
      this.biomassWeight = ''
      this.title = ''
      this.volumeRequested = ''
      this.specialShippingComments = ''
      this.sourcingRequirements = ''
      this.shippingAddressType = ''
      this.requestedDeliveryDate = ''
      this.recurringFreq = ''
      this.recurring = null
      this.productRequested = ''
      this.plantCbdConcentration = ''
      this.desiredCbdConcentration = ''
      this.carrierOil = ''
      this.clientProvides = []
    }
  }
}
</script>
